# Node modules
node_modules

# Build outputs
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Ignore Eaglercraft file
/static/Eaglercraft.html
