# Node modules
node_modules

# Build outputs
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Ignore Eaglercraft file
*/Eaglercraft.html

# anti piracy is what we all about
*.nds
*.gba
*.gb
*.gbc
*.n64
*.z64
*.smc
*.sfc
*.bin
*.iso
*.nes